@font-face {
	font-display: swap;
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/bellefair-v14-latin-regular.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2');
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'Bellefair', serif;
	font-family: 'Barlow', sans-serif;
}
.containers {
	max-width: 1147px;
	margin: 0 auto;
	padding: 0 20px;
}
